body {
    margin: 0;
    padding: 0;
    font-family: "open sans", sans-serif;
    box-sizing: border-box;
    background: linear-gradient(150deg, rgb(255, 147, 71), rgb(255, 99, 71), rgb(127, 49, 35));
    height: 100vh;

}

.nav-mobile {
    display: none;
}

.nav-desk {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 5px;
    background: #111;
    border-radius: 10px;
}

.cont-ico {
    display: flex;
    align-items: center;
}

.cont-ico span {
    font-size: 20px;
    font-weight: 500;
    color: #f5f5f5;

}

.img {
    height: 50px;
    width: 50px;
    border-radius: 10px;
}

.navbar {
    display: flex;
}

.linkss {
    align-items: center;
    margin-right: 20px;
    padding: 5px;
}


.linkss a {
    margin: 20px 0px;
    font-size: 15px;
    font-weight: 500;
    text-decoration: none;
    color: #f5f5f5;
    text-transform: uppercase;
}

.linkss a:hover {
    color: tomato;
}

.loglink {
    margin-right: 20px;
    border: solid tomato 1px;
    border-radius: 5px;
    padding: 5px;
    align-items: center;
}

.loglink a {
    padding: 10px;
    margin: 20px 0px;
    font-size: 15px;
    font-weight: 500;
    text-decoration: none;
    color: #f5f5f5;
    text-transform: uppercase;
}

.loglink:hover {
    background: tomato;
}






@media only screen and (max-width: 900px) {

    .nav-desk {
        display: none;
    }

    .nav-mobile {
        display: flex;
        margin-bottom: 100px;
    }

    .container-ico {
        display: flex;
        position: absolute;
        top: 20px;
        left: 20px;
        align-items: center;
    }

    .container-ico a {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: #111;
    }

    .container-ico span {
        font-size: 20px;
        font-weight: 700;
    }

    .img {
        width: 50px;
        height: 50px;
        border-radius: 10px;
    }

    .content {
        font-size: 18px;
    }

    .navigation {
        position: fixed;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        background: #111;
        z-index: 200;
        clip-path: circle(25px at calc(100% - 45px) 45px);
        transition: all 300ms ease-in-out;
    }

    .navigation.active {
        clip-path: circle(75%);
    }

    .navigation .ham-btn {
        position: absolute;
        top: 20px;
        right: 20px;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        cursor: pointer;
    }

    .navigation .ham-btn span {
        position: absolute;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 50%;
        height: 2px;
        background: #f5f5f5;
        transition: all 200ms ease-in-out;
    }

    .navigation .ham-btn span:nth-child(1) {
        top: 30%;
    }

    .navigation .ham-btn span:nth-child(2) {
        top: 50%;
    }

    .navigation .ham-btn span:nth-child(3) {
        top: 70%;
    }

    .navigation.active .ham-btn span:nth-child(1) {
        top: 50%;
        transform: translate(-50%, -50%)rotate(45deg);
    }

    .navigation.active .ham-btn span:nth-child(2) {
        display: none;
    }

    .navigation.active .ham-btn span:nth-child(3) {
        top: 50%;
        transform: translate(-50%, -50%)rotate(-45deg);
    }

    .navigation .links {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }

    .navigation .links a {
        position: relative;
        display: inline-block;
        margin: 20px 0px;
        font-size: 20px;
        font-weight: 600;
        text-decoration: none;
        color: #f5f5f5;
        text-transform: uppercase;
        letter-spacing: 5px;
    }

    .navigation .links a:after {
        content: "";
        position: absolute;
        left: 0px;
        bottom: -5px;
        height: 2px;
        width: 0%;
        background: tomato;
        transition: all 300ms;
    }

    .navigation .links a:hover:after {
        width: 100%;

    }
}